<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".view.activiti.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activiti.RegisterActivity" />
        <activity android:name=".view.activiti.MainActivity" />
        <activity android:name=".view.activiti.FoodActivity" />
        <activity android:name=".view.activiti.AlbumActivity" />
        <activity android:name=".view.activiti.DetailFoodActivity" />
        <activity android:name=".view.activiti.table.TableActivity" />
        <activity android:name=".view.activiti.MainDetailTable" />
        <activity android:name=".view.activiti.MaterialActivity" />
        <activity android:name=".view.activiti.ReportActivity" />
        <activity android:name=".view.activiti.SettingActivity" />
        <activity android:name=".view.activiti.AcountActivity" />
        <activity android:name=".view.activiti.table.DetailTableActivity"></activity>
    </application>

</manifest>